### Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

### Importing Data

In [5]:
path = r'C:\Users\Víctor A\OneDrive\DATA ANALITCS\EXCERCISES\IMMERSION\Instacart Basket Analysis'

In [7]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [11]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [15]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,is_first_order
0,2539329,1,1,2,8,0.0,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [19]:
df_ords_prior.shape

(32434489, 4)

In [21]:
df_ords.shape

(3421083, 7)

In [23]:
# Merging both datasets with 'order_id' 
# (default type for a join is “inner,” which means the resulting data set will only contain observations included in both input data sets)

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [25]:
df_merged_large

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,is_first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,True,196,1,0,both
1,2539329,1,1,2,8,0.0,True,14084,2,0,both
2,2539329,1,1,2,8,0.0,True,12427,3,0,both
3,2539329,1,1,2,8,0.0,True,26088,4,0,both
4,2539329,1,1,2,8,0.0,True,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,False,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,False,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,False,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,False,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,False,22920,9,0,both

In [29]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Task

### 2. Export the merged file in pickle format as “orders_products_combined.pkl”.

In [36]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))