## Task
### Part 1

### 3. Import your analysis libraries, as well as your new customer data set as a dataframe.

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\Víctor A\Desktop\CAREER FOUNDRY\Instacart Basket Analysis'

In [5]:
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

### 4. Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [7]:
# Checking Dataframe

In [8]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [9]:
customers.shape

(206209, 10)

In [10]:
customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [11]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [12]:
# Standarize column names

In [13]:
customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)
customers.rename(columns = {'Surnam' : 'last_name'}, inplace = True)
customers.rename(columns = {'Gender' : 'gender'}, inplace = True)
customers.rename(columns = {'STATE' : 'state'}, inplace = True)
customers.rename(columns = {'Age' : 'age'}, inplace = True)
customers.rename(columns = {'n_dependants' : 'dependants'}, inplace = True)
customers.rename(columns = {'fam_status' : 'marital_status'}, inplace = True)

In [14]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         206209 non-null  int64
 1   first_name      194950 non-null  object
 2   last_name       206209 non-null  object
 3   gender          206209 non-null  object
 4   state           206209 non-null  object
 5   age             206209 non-null  int64
 6   date_joined     206209 non-null  object
 7   dependants      206209 non-null  int64
 8   marital_status  206209 non-null  object
 9   income          206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

### 5. Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [16]:
# Checking missing values

customers.isnull().sum()

user_id               0
first_name        11259
last_name             0
gender                0
state                 0
age                   0
date_joined           0
dependants            0
marital_status        0
income                0
dtype: int64

In [17]:
# Checking duplicates

duplicates = customers[customers.duplicated()]

In [18]:
duplicates

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, dependants, marital_status, income]
Index: []

In [19]:
# Checking mixed-type

customers.dtypes

user_id            int64
first_name        object
last_name         object
gender            object
state             object
age                int64
date_joined       object
dependants         int64
marital_status    object
income             int64
dtype: object

In [20]:
for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

first_name

In [21]:
# Very likely mixed data in first_name is due to missing values. Address both issues by changing NaN to 'No Name'

customers['first_name'] = customers['first_name'].fillna('No Name')

In [22]:
# Recheck

customers.isnull().sum()

user_id           0
first_name        0
last_name         0
gender            0
state             0
age               0
date_joined       0
dependants        0
marital_status    0
income            0
dtype: int64

In [23]:
for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

In [24]:
# Changing every int64 column to int32 for memory issues and consistency with ords_prods_merge_4.8_cleaned

customers['user_id'] = customers['user_id'].astype('int32')
customers['age'] = customers['age'].astype('int32')
customers['dependants'] = customers['dependants'].astype('int32')
customers['income'] = customers['income'].astype('int32')

In [25]:
# Changing date_joined column to datetime format for memoery issues and further analysis

customers['date_joined'] = pd.to_datetime(customers['date_joined'], format='%m/%d/%Y')

In [26]:
# Checking changes

In [27]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         206209 non-null  int32
 1   first_name      206209 non-null  object
 2   last_name       206209 non-null  object
 3   gender          206209 non-null  object
 4   state           206209 non-null  object
 5   age             206209 non-null  int32
 6   date_joined     206209 non-null  datetime64[ns]
 7   dependants      206209 non-null  int32
 8   marital_status  206209 non-null  object
 9   income          206209 non-null  int32
dtypes: datetime64[ns](1), int32(4), object(5)
memory usage: 12.6+ MB

In [28]:
# Exporting customers 

customers.to_csv(os.path.join(path, '02 Data','Prepared Data', 'customers_wrangled_4.9.csv'), index = False)

### 6. Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [53]:
# Importing ords_prods_merge_4.8.2_cleaned

ords_prods_merge =pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_4.9_lastcleaned.pkl'))

In [57]:
# Checking new dataframe

ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32399732 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   product_id             int32
 1   product_name           object
 2   aisle_id               int16
 3   department_id          int16
 4   prices                 float16
 5   order_id               int32
 6   user_id                int32
 7   order_number           int16
 8   orders_day_of_week     int16
 9   order_hour_of_day      int16
 10  days_since_last_order  int16
 11  is_first_order         bool
 12  add_to_cart_order      int16
 13  reordered              int16
 14  price_range_loc        category
 15  busiest_day            category
 16  busiest_days           category
 17  busiest_period_of_day  category
 18  max_order              int16
 19  loyalty_flag           category
 20  average_spend          float16
 21  spending_flag          category
 22  customer_frequency     float16
 23  frequency_flag         category
dtypes: bool(1), category(7), float16(3), int16(9), int32(3), object(1)
memory usage: 1.8+ GB

In [59]:
# Combine both datasets

ords_prods_custms_merge = ords_prods_merge.merge(customers, on = 'user_id', indicator = True)

In [61]:
#Checking new dataframe

ords_prods_custms_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32399732 entries, 0 to 32399731
Data columns (total 34 columns):
 #   Column                 Dtype
---  ------                 -----
 0   product_id             int32
 1   product_name           object
 2   aisle_id               int16
 3   department_id          int16
 4   prices                 float16
 5   order_id               int32
 6   user_id                int32
 7   order_number           int16
 8   orders_day_of_week     int16
 9   order_hour_of_day      int16
 10  days_since_last_order  int16
 11  is_first_order         bool
 12  add_to_cart_order      int16
 13  reordered              int16
 14  price_range_loc        category
 15  busiest_day            category
 16  busiest_days           category
 17  busiest_period_of_day  category
 18  max_order              int16
 19  loyalty_flag           category
 20  average_spend          float16
 21  spending_flag          category
 22  customer_frequency     float16
 23  frequency_flag         category
 24  first_name             object
 25  last_name              object
 26  gender                 object
 27  state                  object
 28  age                    int32
 29  date_joined            datetime64[ns]
 30  dependants             int32
 31  marital_status         object
 32  income                 int32
 33  _merge                 category
dtypes: bool(1), category(8), datetime64[ns](1), float16(3), int16(9), int32(6), object(6)
memory usage: 3.4+ GB

In [65]:
# Check merge

ords_prods_custms_merge['_merge'].value_counts()

_merge
both          32399732
left_only            0
right_only           0
Name: count, dtype: int64

In [69]:
# Drop _merge

ords_prods_custms_merge.drop(columns = ['_merge'], inplace = True)

In [71]:
# some datatype chanches before exporting in order to save some memory

ords_prods_custms_merge['gender'] = ords_prods_custms_merge['gender'].astype('category')
ords_prods_custms_merge['marital_status'] = ords_prods_custms_merge['marital_status'].astype('category')
ords_prods_custms_merge['age'] = ords_prods_custms_merge['age'].astype('int16')
ords_prods_custms_merge['dependants'] = ords_prods_custms_merge['dependants'].astype('int16')

In [73]:
ords_prods_custms_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32399732 entries, 0 to 32399731
Data columns (total 33 columns):
 #   Column                 Dtype
---  ------                 -----
 0   product_id             int32
 1   product_name           object
 2   aisle_id               int16
 3   department_id          int16
 4   prices                 float16
 5   order_id               int32
 6   user_id                int32
 7   order_number           int16
 8   orders_day_of_week     int16
 9   order_hour_of_day      int16
 10  days_since_last_order  int16
 11  is_first_order         bool
 12  add_to_cart_order      int16
 13  reordered              int16
 14  price_range_loc        category
 15  busiest_day            category
 16  busiest_days           category
 17  busiest_period_of_day  category
 18  max_order              int16
 19  loyalty_flag           category
 20  average_spend          float16
 21  spending_flag          category
 22  customer_frequency     float16
 23  frequency_flag         category
 24  first_name             object
 25  last_name              object
 26  gender                 category
 27  state                  object
 28  age                    int16
 29  date_joined            datetime64[ns]
 30  dependants             int16
 31  marital_status         category
 32  income                 int32
dtypes: bool(1), category(9), datetime64[ns](1), float16(3), int16(11), int32(4), object(4)
memory usage: 2.8+ GB

### 8. Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [76]:
ords_prods_custms_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers_merge.pkl'))